@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Zain:wght@200;300;400;700;800&display=swap');

:root {
	--fundo-default: #282a36;
	--fundo-light: #3c3e4f;
	--fundo-dark: #1c1d26;
	--offwhite-default: #f8f8f2;
	--offwhite-light: #ffffff;
	--offwhite-dark: #e0e0d4;
	--cinzaAzulado-default: #6272a4;
	--cinzaAzulado-light: #7f8abf;
	--cinzaAzulado-dark: #4b5980;
	--ciano-default: #8be9fd;
	--ciano-light: #a4f2ff;
	--ciano-dark: #6acde8;
	--verde-default: #50fa7b;
	--verde-light: #73ffa0;
	--verde-dark: #3ad95e;
	--laranja-default: #ffb86c;
	--laranja-light: #ffcc99;
	--laranja-dark: #e69a50;
	--rosa-default: #ff79c6;
	--rosa-light: #ff9dd5;
	--rosa-dark: #e65aa9;
	--roxo-default: #bd93f9;
	--roxo-light: #d3b4ff;
	--roxo-dark: #9b76e0;
	--vermelho-default: #ff5555;
	--vermelho-light: #ff7f7f;
	--vermelho-dark: #e63b3b;
	--amarelo-default: #f1fa8c;
	--amarelo-light: #fcffb2;
	--amarelo-dark: #d8e374;
	--fonte-principal: 'Zain', sans-serif;
	--fonte-secundaria: 'Outfit', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--fundo-default);
	color: var(--offwhite-default);
	font-family: var(--fonte-secundaria);
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;

	.chat-flow {
		flex: 1;
		overflow-y: auto;
		padding: 1rem;
		border-radius: .75rem;
		margin-bottom: .75rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		background-color: var(--fundo-default);

		&::-webkit-scrollbar-thumb {
			background-color: var(--fundo-light);
			border-radius: 1rem;
			cursor: pointer;
		}

		&::-webkit-scrollbar-track {
			background: var(--fundo-dark);
		}

		&::-webkit-scrollbar {
			width: 0.25rem;
		}
	}

	.mensagem {
		max-width: 60%;
		padding: .5rem 1rem;
		border-radius: .75rem;
		font-size: .75rem;
		line-height: 1.2rem;
		word-wrap: break-word;
        margin: .75rem 0rem;
	}

	.mensagem.enviada {
		background-color: var(--roxo-dark);
		color: var(--offwhite-default);
		align-self: flex-end;
		border-bottom-right-radius: 0;
	}

	.mensagem.recebida {
		background-color: var(--fundo-light);
		color: var(--offwhite-default);
		align-self: flex-start;
		border-bottom-left-radius: 0;
	}

    .icone-loading {
        width: 1rem;
        height: 1rem;
        margin: 1.5rem 0 0 .5rem;
    }

	.input-principal {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		background-color: var(--fundo-dark);
		padding: 0.5rem;
		border-radius: 0.75rem;

		.input-interno {
			background-color: var(--fundo-dark);
			color: var(--offwhite-default);
			font-family: var(--fonte-principal);
			font-size: 1rem;
			line-height: 1.2rem;
			width: 100%;
			padding: 0.5rem;
			border: none;
			border-radius: 0.75rem;
			outline: none;
			resize: none;
			overflow-y: auto;
			max-height: 200px;
			transition: all 0.25s ease-in-out;

			&::placeholder {
				color: var(--cinzaAzulado-light);
			}

			&::-webkit-scrollbar {
				width: 0.25rem;
			}

			&::-webkit-scrollbar-thumb {
				background-color: var(--fundo-light);
				border-radius: 1rem;
				cursor: pointer;
			}

			&::-webkit-scrollbar-track {
				background: var(--fundo-default);
			}
		}

        .btn-enviar {
            background-color: transparent;
            color: var(--offwhite-default);
            padding: 0.5rem;
            margin: 0.1rem;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: opacity 0.25s ease-in-out;

            &:hover .icone-botao {
                color: var(--rosa-default);
            }

            &:disabled {
                cursor: unset;
                opacity: 0.5;
            }

            &:disabled .icone-botao {
                color: var(--cinzaAzulado-default);
            }
        }

        .icone-botao {
            width: 1.5rem;
            height: 1.5rem;
            color: var(--offwhite-default);
            transition: color 0.25s ease-in-out;
        }
	}
}

.resposta-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Para garantir que fique acima de tudo */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escurecido opcional */
}

.resposta-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
